.signup {
    padding: 50px;
    
    &__title {
        text-align: center;
        font-weight: 500;
    }
    &__spinner {
        margin-bottom: 10px;
    }
    &__social-media {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
}